<input type="text" [(ngModel)]="messageVarClasse().username" class="form-control">
<textarea [(ngModel)]="messageVarClasse().content" class="form-control"></textarea>
<article class="panel panel-default">
  <div class="panel-body">
    {{messageVarClasse().content}}
  </div>
  <footer class="panel-footer">
    <div class="author">
      {{messageVarClasse().username}}
    </div>
    <div class="config">
      <a href="#" class="btn btn-primary" (click)="onEdit()">Editar</a>
      <a href="#" class="btn btn-danger">Eliminar</a>
    </div>
  </footer>
</article>
