<h1>SING UP</h1>
<div class="col-md-8 col-md-offset-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" id="name" class="form-control"
             formControlName="name">
    </div>
    @if (myForm.get('name')?.errors?.['required'] &&
    myForm.get('name')?.touched) {
      <div class="alert alert-danger">
        O campo nome é obrigatório
      </div>
    }
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control"
             formControlName="email">
    </div>
    @if (myForm.get('email')?.errors?.['required'] &&
    myForm.get('email')?.touched) {
      <div class="alert alert-danger">
        O campo email é obrigatório
      </div>
    }
    @if (myForm.get('email')?.errors?.['pattern'] &&
    myForm.get('email')?.touched) {
      <div class="alert alert-danger">
        O campo email não é válido
      </div>
    }
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control"
             formControlName="password">
    </div>
    @if (myForm.get('password')?.errors?.['required'] &&
    myForm.get('password')?.touched) {
      <div class="alert alert-danger">
        O campo senha é obrigatório
      </div>
    }
    <br>
    <button class="btn btn-primary" type="submit"
            [disabled]="!myForm.valid">
      Cadastre-se
    </button>
  </form>
</div>
